.test {
  background-image: linear-gradient(45deg, #c8c8c8 25%, transparent 25%),
    linear-gradient(-45deg, #c8c8c8 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #c8c8c8 75%),
    linear-gradient(-45deg, transparent 75%, #c8c8c8 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  padding: 2rem 2.5rem;

  h1 {
    display: inline-block;
    text-align: center;
    background: white;
    color: black;
    padding: 1rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}

/* Feel free to add your styles here! */
